<h1 align="center">Editar Usuario</h1>

<%= render 'form', user: @user %>
<br>
<div class="container" align="center"><%= link_to 'Mostrar', @user %> | <%= link_to 'Atras', @user %> 
	<% if @user.id == current_user.id %>| <%= link_to "Cambiar contraseña", edit_user_registration_path %>
	<% end %>
 </div>