/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 
 @import "bootstrap";
 h1 {
 	color: MidnightBlue;
 	align: center;
 }

 h2 {
 	color: MidnightBlue;
 	align: center;
 }

 .style {
 	width: 90%;
 	align: center;
 	margin-left: 5%;
 }

 .txt {
 	width: 50%;
 }

 .search {
 	margin-left: 5%;
 }

 .question {
 	width: 50%;
 	height: 50;
 	border-style: groove;
 	border-left: 6px solid darkgreen;
 	background-color: LightSeaGreen;
 	border-radius: 15px 50px 30px 5px;
 	box-shadow: 10px 10px 5px grey;
 }

 .answer {
 	width: 50%;
 	float: right;
 	right: 150px;
 	border-style: groove;
 	border-left: 6px solid darkblue;
 	background-color: LightBlue;
 	border-radius: 15px 50px 30px 5px;
 	box-shadow: 10px 10px 5px grey;
 }

 body {
  background-color: lightblue;
}

.form-style {
	background-color: cyan;
	width: 45%;
	height: auto;
	border-style: groove;
	box-shadow: 10px 10px 5px grey;
}

.foro {
	background-color: MediumAquaMarine;
	border-radius: 20px;
}

.actividades {
	background-color: lightgreen;
	border-radius: 20px;
}